body {
  margin: 0;
}
.control {
  margin: 1em;
  padding: 1em;
}
#display {
  margin: 1em;
  display: flex;
  flex-direction: row;
}
#map {
  padding: 1em;
}
#select_d {
  margin-left: 1em;
}
#button_run {
  margin-left: 4em;
}
#chart_best {
  flex: 1;
  margin-left: 1em;
  padding: 1em;
}
#chart_distrib {
  flex: 1;
  margin-left: 1em;
  padding: 1em;
}